.env
vol/moodle/data/
vol/moodle/html/

vol/mariadb/data/
vol/mysql/data/
vol/pgsql/data/

vol/mariadb/init.sql
vol/mysql/init.sql
vol/pgsql/init.sql

vol/phpu/data/
vol/phpu/mariadb/data/
vol/phpu/mysql/data/
vol/phpu/pgsql/data/

wg