server {
    listen 80;
    server_name localhost;
    root /var/www/html;
    index index.php index.html index.htm;
    error_page 404 /error/index.php;    error_page 403 =404 /error/index.php;

    # PHP processing
    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;
        fastcgi_index            index.php;
        fastcgi_pass             unix:/run/php/php8.3-fpm.sock;
        include                  fastcgi_params;
        fastcgi_param   PATH_INFO       $fastcgi_path_info;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    #location ~ ^(.+\.php)(.*)$ {
    #    root /usr/share/nginx/html/moodle/;
    #    fastcgi_split_path_info  ^(.+\.php)(.*)$;
    #    fastcgi_index            index.php;
    #    fastcgi_pass             unix:/run/php/php8.3-fpm.sock;
    #    include /etc/nginx/mime.types;
    #    include                  fastcgi_params;
    #    fastcgi_param   PATH_INFO       $fastcgi_path_info;
    #    fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    #}

    # Static files caching
    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|otf|eot|mp3|mp4|avi|mov|flv|wmv|webm)$ {
        root /var/www/html;
        try_files $uri /index.php?$query_string;
        expires max;
        log_not_found off;
        access_log off;
    }

    # Restrict direct access to sensitive files
    location ~ (/vendor/|/node_modules/|composer\.json|/readme|/README|readme\.txt|/upgrade\.txt|/UPGRADING\.md|db/install\.xml|/fixtures/|/behat/|phpunit\.xml|\.lock|environment\.xml) {
        deny all;
        return 404;
    }

    # Restrict access to dot files, except ".well-known"
    location ~ /\.(?!well-known).* {
        return 404;
    }

    # Restrict access to moodledata directory
    location ^~ /moodledata/ {
        deny all;
        return 403;
    }
    
    location /dataroot/ {
        internal;
        alias /var/www/moodledata/;
        deny all; 
        return 404;
    }
}
